<div
  class="container alert alert-success mt-5 d-flex justify-content-between align-content-center"
  style="width: 80%"
>
  <h2>Bienvenido {{username}}</h2>
  <button class="btn btn-dark" onclick="logout()">Logout</button>
</div>
<div class="container">
  <h1 class="text-center mt-10">Carga de productos</h1>
  <h2 class="text-center mt-10">Ingrese Producto</h2>
  <form action="/products" method="POST" class="mx-auto" style="width: 80%">
    <div class="mb-3">
      <label for="title" class="form-label">Producto</label>
      <input type="text" class="form-control" id="title" name="title" />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Precio</label>
      <input type="number" class="form-control" id="price" name="price" />
    </div>
    <div class="mb-3">
      <label class="form-label" for="thumbnail">Url de la Imagen</label>
      <input type="text" class="form-control" id="thumbnail" name="thumbnail" />
    </div>
    <button type="submit" class="btn btn-light">Enviar</button>
  </form>

  <h2 class="text-center mt-10">Vista de Productos</h2>
  {{#if products}}
    <table
      class="table table-dark table-striped mx-auto"
      style="width: 900px; max-width: 90%"
    >
      <thead>
        <tr>
          <th scope="col">Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Imágen</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td>{{this.title}}</td>
            <td>${{this.price}}</td>
            <td><img src={{this.thumbnail}} style="width: 30px" /></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="text-white text-center">No hay productos</div>
  {{/if}}
</div>

<div class="container" style="margin-top: 30px">
  <h2 class="text-center mt-10">Chatea con nosotros</h2>
  <form action="/messages" action="POST" class="mx-auto" style="width: 80%">
    <div class="row mt-2">
      <div class="col mb-6">
        <label for="name" class="form-label">Nombre</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="John"
        />
      </div>
      <div class="col mb-6">
        <label for="surname" class="form-label">Apellido</label>
        <input
          type="text"
          class="form-control"
          id="surname"
          name="surname"
          placeholder="Doe"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col mb-6">
        <label for="age" class="form-label">Edad</label>
        <input
          type="text"
          class="form-control"
          id="age"
          name="age"
          placeholder="30"
        />
      </div>
      <div class="col mb-6">
        <label for="alias" class="form-label">Alias</label>
        <input
          type="text"
          class="form-control"
          id="alias"
          name="alias"
          placeholder="JDoe"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col mb-6">
        <label for="avatar" class="form-label">Avatar</label>
        <input
          type="text"
          class="form-control"
          id="avatar"
          name="avatar"
          placeholder="Ingresa tu avatar"
        />
      </div>
      <div class="col mb-6">
        <label for="email" class="form-label">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="johndoe@mail.com"
        />
      </div>
    </div>
    <div class="row mt-2">
      <div class="col mb-12">
        <label for="message" class="form-label">Mensaje</label>
        <input type="text" class="form-control" id="message" name="message" />
      </div>
    </div>
    <button type="submit" class="btn btn-light mt-2">Enviar</button>
  </form>

</div>
{{#if messages}}
  <div
    id="messages"
    class="container rounded bg-light p-3 mb-4"
    style="width: 80%"
  >
    {{#each messages}}
      <div style="display: flex; align-items: start;">
        <img
          src={{this.avatar}}
          style="width: 30px; height: 30px; margin-right: 5px; border-radius: 50%;"
        />
        <p style="color: brown">
          <strong class="text-primary">{{this.alias}}</strong>
          :
          <span class="text-success">{{this.message}}</span>
        </p>
      </div>
    {{/each}}
  </div>
{{else}}
  <div class="text-white text-center">No hay mensajes</div>
{{/if}}